<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>

</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>


        <h1>https toimii :) yeah!</h1> <br><br><br><br> <iframe width="560" height="320"
            src="https://www.youtube.com/embed/NoXqPvCyto8?rel=0?version=3&autoplay=1&controls=0&&showinfo=0&loop=1&muted=1"
            title="YouTube video player" frameborder="0" </iframe> <br><br><br> 
            
            <img
                src="https://cdn.discordapp.com/attachments/1020390416366964796/1044146415305232445/image.png"
                alt="error"><br><br><br>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>